version: '3.1'

volumes:
  labhive_mongodb_stagingDB:
    external: true
  labhive_mongodb_stagingConfig:
    external: true

services:
  mongo:
    image: mongo
    restart: always
    ports:
      - 27017:27017
    volumes:
      - labhive_mongodb_stagingDB:/data/db
      - labhive_mongodb_stagingConfig:/data/configdb
    #environment:
    #  MONGO_INITDB_ROOT_USERNAME: root
    #  MONGO_INITDB_ROOT_PASSWORD: example

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    # environment:
    #   ME_CONFIG_MONGODB_ADMINUSERNAME: root
    #   ME_CONFIG_MONGODB_ADMINPASSWORD: example

  redis:
    image: redis
    restart: always
    ports:
      - 6379:6379

