ansi2html==1.5.2
astroid==2.3.3
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
cycler==0.10.0
decorator==4.4.2
Flask==1.1.1
idna==2.9
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
networkx==2.4
numpy==1.18.1
protobuf==3.11.2
pycairo==1.19.1
Pygments==2.6.1
PyGObject==3.34.0
pygraphviz==1.5
pylint==2.4.4
pyparsing==2.4.5
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
rope==0.16.0
scipy==1.4.1
six==1.13.0
soupsieve==2.0
typed-ast==1.4.1
urllib3==1.26.5
Werkzeug==1.0.0
wrapt==1.11.2
